main{

  width: 100vw;
  background-image: radial-gradient(ellipse farthest-corner at 45px 30px , #fff 50%, rgba(0, 255, 0, 0) 0%, #fcdc14 50%);
  margin: 0;
  padding: 0;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
  text-align: center;
  
}

.main-content h1 {
  width: 100%;
  max-width: 1200px;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 10px 20px;
}

.main-content-p{
  padding: 10px 20px;
}
.main-content p {
  width: 100%;
  max-width: 1200px;
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #555;
  line-height: 1.6;
  
   
   
}

.admission-video {
  width: 100%;
  max-width: 1200px;
  height: auto;
  aspect-ratio: 16/9;
   
}

.main-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}



.btn {
  position: relative;
  display: inline-block;
  padding: 12px 25px;
  margin: 8px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s;
  overflow: hidden;
}

.btn span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.btn:hover span {
  transform: scale(1.2); /* El texto se infla un 20% al pasar el mouse */
  color: #fcdc14;
}

.btn-info {
    
  background-color: #044cac;
}

.btn-apply {
  background-color: #044cac;
}

.btn-info:hover {
  background-color: #0056b3;
}

.btn-apply:hover {
  background-color: #0056b3;
}

@media (max-width: 2500px){
  .admission-video {
    width: 50%;
    height: auto; 
  }

}
@media (max-width: 1200px) {
  .main-content h1 {
    font-size: 1.75rem;
  }

  .main-content p {
    font-size: 1rem;
  }
  .admission-video {
    width: 60%;
    height: auto; 
  }
 
}

@media (max-width: 992px) {
  .main-content h1 {
    font-size: 1.5rem;
  }

  .main-content p {
    font-size: 14px;
  }

  .btn {
    padding: 10px 20px;
  }

  .btn span {
    font-size: 0.95rem;
  }
  .admission-video {
    width: 80%;
    height: auto; 
  }


}

@media (max-width: 768px) {
  .main-content h1 {
    font-size: 1.25rem;
  }

  .main-content p {
    font-size: 0.9rem;
  }

  .btn {
    width: 100%;
    text-align: center;
    padding: 8px 15px;
  }

  .btn span {
    font-size: 0.85rem;
  }
  .admission-video {
    width: 90%;
    height: auto; 
  }
}

@media (max-width: 576px) {
  .main-content h1 {
    font-size: 1rem;
  }

  .main-content p {
    font-size: 14px;
    padding: 2px;
  }

  .btn {
    padding: 6px 10px;
    font-size: 0.8rem;
  }

  .admission-video {
    width: 100%;
     
  }
}

.admission-video {
  width: 100%;
  height: 315px; /* Puedes ajustar esto dependiendo de la relación de aspecto */
  max-width: 560px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 768px) {
  .admission-video {
    height: auto;
    aspect-ratio: 16 / 9; /* Relación de aspecto 16:9 */
  }
}
