.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.main-content h1 {
  width: 70%;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
   
}

.main-content p {
  width: 70%;
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #555;
  line-height: 1.6;
}

.main-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 12px 25px;
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s;
  overflow: hidden;
}

.btn span {
  display: inline-block;
  transition: transform 0.3s ease;
}

.btn:hover span {
  transform: scale(1.2); /* El texto se infla un 20% al pasar el mouse */
  color: yellow;
}

.btn-info {
  background-color: #007BFF;
}

.btn-apply {
  background-color: #007BFF;
   
}

.btn-info:hover {
  background-color: #0056b3;
}

.btn-apply:hover {
  background-color: #0056b3;
   
}

@media (max-width: 768px) {
  .main-content h1 {
    font-size: 1.5rem;
  }

  .main-content p {
    font-size: 1rem;
  }

  .main-buttons {
    flex-direction: column;
  }

  .btn {
    width: 80%;
    text-align: center;
  }

  iframe {
    width: 100%;
    height: auto;
  }
}
