  .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #044cac;
    color: rgba(255, 255, 255, 0.659);
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
  }

  .footer-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 20px;
    gap: 10px;
    font-size: 12px;
    
  }

  .footer-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    color: #fcdc14 ;
  }

  .footer-rights {
    width: 100%;
    margin-top: 20px;
    font-size: 0.9rem;
    opacity: 0.8;
  }

  .box_1 {
    display: flex;
    flex-direction: row;
  }

  .box_2{
    width: 90%;
    border-top: 1px solid #fcdc14 ;
  }


  


  .div_link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    margin: 5px;
    border: 2px solid #fcdc14 ;
    border-radius: 50px;
    text-decoration: none;
    color: #090909;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
    overflow: hidden;
    background-color: rgba(249, 241, 241, 0.612);
    font-weight: 900;
    box-shadow: rgba(252, 252, 252, 0.111) 0px 2px 25px -5px, rgba(225, 225, 225, 0.193) 0px 10px 10px -5px;
  }

  .div_link a{
    display: inline-block;
    transition: transform 0.3s ease;
    padding: 5px;
     
  }

  .footer-icon-whatsapp{
    color: #fcdc14 ;
    font-size: 38px;
     
    border-radius: 50px;
    padding: 0px;
  }

  .whatsapp-link {
    color: inherit; /* Mantiene el color del texto igual */
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease; /* Se agrega la transición de background-color */
    border-radius: 8px;
    padding: 10px;
    
  }

  .div_link:hover{
    
    color: #fcdc14 ;
    background-color: black;
    
   
    
  }

  

  .whatsapp-link:hover {
    color: yellow; /* Color del texto al pasar el mouse */
    
  }

  @media (max-width: 480px) {
    .footer {
      padding: 10px;
    }

    .footer-item {
      margin: 5px 0;
      gap: 10px;
    }
    .box_1{
      padding-left: 10px;
      
      font-size: 10px;
      

    }
    .box_1 p{
      margin: 0px;
    }

    .footer-icon {
      width: 20px;
      height: 20px;
    }

    .box_2 {
      font-size: 0.75rem;
    }

    .footer-icon-whatsapp{
      color: yellow;
      font-size: 28px;
       
      border-radius: 50px;
      padding: 0px;
    }
  }



  @media (max-width: 768px) {
    .footer {
      padding: 10px;
    }

    .footer-item {
      margin: 5px 0;
      gap: 10px;
    }
    .box_1{
      padding-left: 10px;
      flex-direction: column;
      font-size: 10px;
      

    }
    .box_1 p{
      margin: 0px;
    }

    .footer-icon {
      width: 20px;
      height: 20px;
    }

    .box_2 {
      font-size: 0.75rem;
    }

    .footer-icon-whatsapp{
      color: yellow;
      font-size: 28px;
       
      
    }
  }

  @media (max-width: 992px){
    .box_1 p{
      margin: 0px;
      font-size: 10px;
      padding: 0;
    }
    .footer-item {
      margin: 0;
      gap: 10px;
      
    }

    .footer-icon {
      width: 20px;
      height: 20px;
      margin: 0;
      
      
    }
    .footer{
      padding: 5px;
      margin: 0;
    }

    .footer-icon-whatsapp{
      color: yellow;
      font-size: 28px;
       
      
    }

    .div_link a{
      
      font-size: 8px;
      
    }
  }