.header {
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background-image: radial-gradient(circle at 50% -20.71%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #0051de 100%);
    color: rgb(255, 255, 255);
  }

  .header h2{
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 45px;
  }

  .header span{
    color: yellow;
    font-weight: 900;
  }

  .header_link_return{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    margin-right: 20px;
    margin-top: -10px;
    
  }
  
  .header_link_return a{
     
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(248, 248, 248, 0.815) 0px 0px 16px;

  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 80px;
     
  }
  
  .header-link {
    color: rgba(255, 255, 255, 0.997);
    text-decoration: none;
  }
  
  @media (max-width: 480px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .header-logo {
      margin-bottom: 10px;
    }
    .header h2{
      font-size: 14px;
       
    }
     
  }
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
     
    
  .header h2{
    font-size: 26px;
    
  }
  .header_link_return a{
    font-size: 10px;
  }
  
    .header-logo {
      margin-bottom: 10px;
    }
  }


  @media (max-width: 2500px){
    .header {
      flex-direction: column;
      text-align: center;
    }

    
 
     
  }
  